name: build-demo

on:
  workflow_dispatch:

jobs:
  build-dashboard:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.sha }}
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          path: src

      - name: Build and Release
        working-directory: src
        run: make system_demo_build

      - name: Checkout OOD
        uses: actions/checkout@v4
        with:
          repository: hmdc/ondemand_development
          ref: ood_staging_demo
          path: target

      - name: Copy OOD demo build
        run: |
          rm -rf target/*
          cp -R src/ondemand/apps/dashboard/. target
          rm -f target/public/.gitignore

      - name: Commit new build
        run: |
          cd target
          git config user.name "github-iqss[bot]"
          git config user.email "github-iqss[bot]@users.noreply.github.com"
          git add .
          git commit -m "OOD main build"
          git push